.table-chapter {
	border: 1px solid black;
}
.table-chapter td, .table-chapter th {
	border: 1px solid black;
	padding: 5px;
}

.chapter-title th {
	background-color:lightgray;
}

.table-info {
	margin: 0 auto;
}

.table-info th {
	background-color: gray;
	font-weight: normal;
}
.table-info th, .table-info td {
	text-align: center;
	padding:3px;
	border:1px solid black;
}

.table-head {
	border: 0 solid black;
	border-width: 0 0 2px 0;
	margin-bottom: 1.5em;
}

.table-revs th, .table-revs td {
	padding:3px;
	border:1px solid black;
}

.footer {
	margin-top: 1.5em;
}

#cover {
	text-align: center;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 1.5em;
}